---
# tasks file for postman

- name: Install postman-bin (Arch)
  yay: 
    name: postman-bin
    state: latest
  when: ansible_distribution == 'Archlinux'

- name: Install postman-bin (Debian)
  apt: 
    name: postman
    state: latest
  when: ansible_facts['os_family'] == "Debian"
...