---
# tasks file for tools_github
- name: Update permissions of /opt 
  file:
    path: /opt
    owner: "{{ target_user }}"
    group: "{{ target_user }}"
    mode: 0755

- name: Clone repositories
  git:
    repo: "{{ item.repo }}"
    dest: "/opt/{{ item.name }}"
    clone: true
    update: true
    force: true
  with_items:
    - { name: nishang, repo: https://github.com/samratashok/nishang.git }
    - { name: linenum, repo: https://github.com/rebootuser/LinEnum.git }
    - { name: linux-exploit-suggester, repo: https://github.com/mzet-/linux-exploit-suggester.git }
    - { name: linux-exploit-suggester-2, repo: https://github.com/jondonas/linux-exploit-suggester-2.git }
    - { name: linux-smart-enumeration, repo: https://github.com/diego-treitos/linux-smart-enumeration.git }
    - { name: linuxprivchecker, repo: https://github.com/linted/linuxprivchecker.git }

