---
# tasks file for vpn

- name: Install openvpn (Arch)
  yay: 
    name: ["openvpn", "networkmanager-openvpn"]
    state: latest
  when: ansible_distribution == 'Archlinux'

- name: Install openvpn (Debian)
  apt: 
    name: ["openvpn", "network-manager-openvpn"]
    state: latest
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: Copy ovpn configs
  copy:
    src: "{{ item }}"
    dest: "/etc/openvpn/client/{{ item }}"
    owner: root
    group: root
    mode: 0644
  become: true
  with_items:
    - htb.ovpn
    - thm.ovpn

- name: Update openvpn client config permissions
  file:
    dest: "/etc/openvpn"
    mode: u=rwX,g=rX,o=rX
    recurse: yes
  become: true

- name: Enable networkmanager 
  systemd:
    name: NetworkManager
    state: started
    enabled: yes

- name: Import openvpn configs 
  shell: "nmcli connection import type openvpn file /etc/openvpn/client/{{ item }}"
  with_items:
    - htb.ovpn
    - thm.ovpn
