---
# tasks file for vpn

- name: Install openvpn (Arch)
  yay: 
    name: ["openvpn"]
    state: latest
  when: ansible_distribution == 'Archlinux'

- name: Install openvpn (Debian)
  apt: 
    name: ["openvpn"]
    state: latest
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: Copy ovpn configs
  copy:
    src: "{{ item }}"
    dest: "/etc/openvpn/client/{{ item }}"
    owner: root
    group: root
    mode: 0644
  become: true
  with_items:
    - htb-gillouche-eu-free-3.ovpn
    - thm-gillouche-eu-vip-1.ovpn

- name: Update openvpn client config permissions
  file:
    dest: "/etc/openvpn/client"
    owner: root
    group: root
    mode: u=rwX,g=rX,o=rX
    recurse: yes
  become: true

