---
# tasks file for tools_webapp

- name: Install tools (Arch)
  yay:
    name: "{{ item }}"
    state: latest 
  when: ansible_distribution == 'Archlinux'
  with_items:
    - blackarch/burpsuite
    - blackarch/zaproxy
    - blackarch/gobuster
    - blackarch/wpscan
    - blackarch/feroxbuster
    - blackarch/ffuf
    - blackarch/ffuf-scripts
    - blackarch/whatweb
- name: Install tools (Debian)
  apt:
    name: "{{ item }}"
    state: latest 
  become: true
  with_items:
    - burpsuite
    - zaproxy
    - gobuster
    - dirbuster 
    - wpscan
    - feroxbuster
    - ffuf
    - whatweb
  when: ansible_facts['os_family'] == "Debian"

- name: "Define role executed var {{ role_name }}_was_executed"
  set_fact:
    "{{ role_name }}_was_executed": true
    cacheable: true