---
# tasks file for tools_webapp

- name: Install tools (Arch)
  yay:
    name: "{{ item }}"
    state: latest 
  when: ansible_distribution == 'Archlinux'
  with_items:
    - blackarch/burpsuite
    - blackarch/zaproxy
    - blackarch/gobuster
    - blackarch/wpscan

- name: Install tools (Debian)
  apt:
    name: "{{ item }}"
    state: latest 
  become: true
  with_items:
    - burpsuite
    - zaproxy
    - gobuster
    - dirbuster 
    - wpscan
  when: ansible_facts['os_family'] == "Debian"

