---
# tasks file for browsers

- name: Install browser packages (Arch)
  yay:
    state: latest
    name: ['firefox', "tor-browser"]
  when: ansible_distribution == 'Archlinux'

- name: Install browser packages (Arch)
  apt:
    state: latest
    name: ['firefox', "tor-browser"]
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: Install firefox config
  template:
    src: firefox-mozilla.cfg.j2
    dest: /usr/lib/firefox/defaults/pref/firefox.js
    mode: 0644
  become: true
...
