---
# tasks file for browsers

- name: Install browser packages (Arch)
  yay:
    state: latest
    name: ['firefox', 'arkenfox-user.js', 'blackarch/tor-browser-en']
  when: ansible_distribution == 'Archlinux'

- name: Install browser packages (Debian)
  apt:
    state: latest
    name: ['firefox-esr', "tor",  "torbrowser-launcher"]
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: Execute arkenfox-updater
  shell: yes | arkenfox-updater
  when: ansible_distribution == 'Archlinux'

- name: Install firefox config (Debian)
  template:
    src: firefox-mozilla.cfg.j2
    dest: /usr/lib/firefox-esr/defaults/pref/firefox.js
    mode: 0644
  become: true
  when: ansible_facts['os_family'] == "Debian"

- name: "Define role executed var {{ role_name }}_was_executed"
  set_fact:
    "{{ role_name }}_was_executed": true
    cacheable: true
...
