---
# tasks file for tools_recon

- name: Install recon tool (Arch)
  yay:
    name: "{{ item }}"
    state: latest 
  with_items:
    - blackarch/enum4linux
    - blackarch/linenum
    - blackarch/linux-exploit-suggester
    - blackarch/linux-exploit-suggester.sh
    - blackarch/sploitctl
    - blackarch/peass
  when: ansible_distribution == 'Archlinux'

- name: Install nessus (Arch)
  yay:
    name: "nessus"
    state: latest 
  when: ansible_distribution == 'Archlinux'
  register: nessus_changed

- name: Install recon tools (Debian)
  apt:
    name: "{{ item }}"
    state: latest 
  become: true
  with_items:
    - enum4linux
    - linux-exploit-suggester
    - exploitdb
  when: ansible_facts['os_family'] == "Debian"

- name: Check if nessuscli is installed (Debian)
  shell:
    cmd: nessuscli
  register: result
  ignore_errors: true
  when: ansible_facts['os_family'] == "Debian"

- name: Set fact that nessuscli is not installed (Debian)
  set_fact:
    nessuscli_installed: false
  when: ansible_facts['os_family'] == "Debian" and "'command not found' in result.stderr"

- name: Download nessus (Debian)
  get_url:
    url: "{{ nessus_kali_url }}"
    dest: /tmp/nessus.deb
  when: not nessuscli_installed

- name: Install nessus (Debian)
  apt:
    deb: /tmp/nessus.deb
  register: nessus_changed
  become: true
  when: not nessuscli_installed

- name: Stop nessus systemd 
  systemd:
    name: nessusd 
    state: stopped
  when: nessus_changed.changed

- name: Register nessus
  shell: /opt/nessus/sbin/nessuscli fetch --register {{ nessus_key }}
  become: true
  when: nessus_changed.changed

- name: Update nessus plugins
  shell: /opt/nessus/sbin/nessuscli update --plugins-only
  become: true
  when: nessus_changed.changed

- name: Enable systemd nessus 
  systemd:
    name: nessusd
    state: started
    enabled: true
  become: true
